<audio id="audioPlayer">
    <source src="" type="audio/mpeg">
    Your browser does not support audio.
</audio>
<div class="audioPlayerData">
    <div class="title-progress-container">
        <h1 class="title-progress" id="title-progress">
            <span id="title-text">Loading Track Title</span>
            <input type="range" id="title-progress-slider" class="title-progress-slider">
        </h1>
    </div>
    <p>Made by <strong id="title-artist">Loading Artist</strong></p>
</div>
<div class="audioPlayerControls">
    <button id="playButton" onclick="togglePlayPause()"><img id="playPauseIcon"
            src="/images/icons/play.svg" style="filter: invert(1);" value="0" max="100"
            step="0.01"></button>
    <script>
        function togglePlayPause() {
            var audioPlayer = document.getElementById('audioPlayer');
            var playPauseIcon = document.getElementById('playPauseIcon');
            if (audioPlayer.paused) {
                playPauseIcon.src = '/images/icons/pause.svg';
            } else {
                playPauseIcon.src = '/images/icons/play.svg';
            }
        }
    </script>
    <button id="nextButton"><img src="/images/icons/skip-forward.svg"
            style="filter: invert(1);"></button>
    <button id="pastButton"><img src="/images/icons/skip-backward.svg"
            style="filter: invert(1);"></button>
    <button id="stopButton"><img src="/images/icons/stop.svg" style="filter: invert(1);"
            onclick="playPauseIcon.src = '/images/icons/play.svg';"></button>
</div>
</div>
<canvas id="audioVisualizer" class="audioPlayerVisualizer" height="100%"></canvas>
<script src="/js/player.js"></script>
<% if (typeof currentPlaylist !=='undefined' && currentPlaylist) { %>
    <script>
        var currentPlaylist = <% - JSON.stringify(currentPlaylist) %>;
        var urlParams = new URLSearchParams(window.location.search);
        var playlistIndex = urlParams.get('playlist_index');
        if (!playlistIndex) {
            playlistIndex = 0;
        }
        var trackListContainer = document.createElement('div');
        trackListContainer.className = 'trackListContainer w-25 h-100';
        currentPlaylist.tracks.forEach(track => {
            fetch('/song/data/' + track)
                .then(response => response.json())
                .then(data => {
                    var trackItem = document.createElement('div');
                    trackItem.className = 'trackItem';
                    trackItem.setAttribute('data-index', currentPlaylist.tracks.indexOf(track));
                    trackItem.textContent = `${data.title ? data.title : "No Title"} - ${data.artist ? data.artist : "Unknown"}`;
                    if (currentPlaylist.tracks.indexOf(track) == playlistIndex) {
                        trackItem.style.color = 'green';
                    }
                    trackListContainer.appendChild(trackItem);
                    if (currentPlaylist.tracks.indexOf(track) === 0) {
                        trackItem.classList.add('currentTrack');
                    }
                })
                .catch(error => console.error('Error fetching song stats:', error));
        });
        document.querySelector('.audioPlayerContainer').appendChild(trackListContainer);

        var trackItems = document.querySelectorAll('.trackItem');
        trackItems.forEach(item => {
            item.addEventListener('click', function () {
                var index = this.getAttribute('data-index');
                // Logic to play the selected track
                document.querySelector('.currentTrack').classList.remove('currentTrack');
                this.classList.add('currentTrack');
            });
        });
        localStorage.setItem('currentPlaylist', JSON.stringify(currentPlaylist));
    </script>
    <% } %>