<%- include('header') %>
    <div class="dashboard">
        <link rel="stylesheet" href="/css/player.css">
        <div class="dashboardHeader">
            <img src="/images/FullLogo.svg" alt="Logo" class="logo">
            <div class="dashboardHeaderRight">
                <h1>Track Player</h1>
            </div>
        </div>
        <div class="mainContainer">
            <div class="contentContainer">
                <div class="playlistContainer" id="playlistContainer">
                    <div class="row-container w-100 align-center">
                        <h2>Playlists</h2>
                        <button id="submitPlaylistButton" class="submitPlaylistButton">Create a Playlist</button>
                    </div>
                </div>
                <div class="trackContainer" id="trackContainer">
                    <div class="row-container w-100 align-center">
                        <h2>Tracks</h2>
                        <button id="submitTrackButton" class="submitTrackButton">Add a Track</button>
                    </div>
                    <script src="/js/submit.js" defer></script>
                    <script src="/js/trackList.js"></script>
                </div>
            </div>
        </div>
        <div class="audioPlayerContainer">
            <% if (typeof currentPlaylist !== 'undefined' && currentPlaylist) { %>
                <script>
                    var currentPlaylist = <%- JSON.stringify(currentPlaylist) %>;
                    console.log(currentPlaylist);
                    var trackListContainer = document.createElement('div');
                    trackListContainer.className = 'trackListContainer w-25 h-100';
                    currentPlaylist.tracks.forEach(track => {
                        fetch('/song/data/' + track)
                            .then(response => response.json())
                            .then(data => {
                                console.log("Playlist Song: " + data);
                                var trackItem = document.createElement('div');
                                trackItem.className = 'trackItem';
                                trackItem.setAttribute('data-index', currentPlaylist.tracks.indexOf(track));
                                trackItem.textContent = `${data.title ? data.title : "No Title"} - ${data.artist ? data.artist : "Unknown"}`;
                                playlist_index = currentPlaylist.tracks.indexOf(track);
                                if (data.id === playlist_index) {
                                    trackItem.style.color = 'green';
                                }
                                trackListContainer.appendChild(trackItem);
                                if (currentPlaylist.tracks.indexOf(track) === 0) {
                                    trackItem.classList.add('currentTrack');
                                }
                            })
                            .catch(error => console.error('Error fetching song stats:', error));
                    });
                    document.querySelector('.audioPlayerContainer').appendChild(trackListContainer);

                    var trackItems = document.querySelectorAll('.trackItem');
                    trackItems.forEach(item => {
                        item.addEventListener('click', function() {
                            var index = this.getAttribute('data-index');
                            // Logic to play the selected track
                            document.querySelector('.currentTrack').classList.remove('currentTrack');
                            this.classList.add('currentTrack');
                        });
                    });
                </script>
                <% } %>
                    <div class="column-container w-100">
                        <audio id="audioPlayer">
                            <source src="" type="audio/mpeg">
                            Your browser does not support audio.
                        </audio>
                        <div class="audioPlayerData">
                            <div class="title-progress-container">
                                <h1 class="title-progress" id="title-progress">
                                    <span id="title-text">Loading Track Title</span>
                                    <input type="range" id="title-progress-slider" class="title-progress-slider">
                                </h1>
                            </div>
                            <p>Made by <strong id="title-artist">Loading Artist</strong></p>
                        </div>
                        <div class="audioPlayerControls">
                            <button id="playButton" onclick="togglePlayPause()"><img id="playPauseIcon"
                                    src="/images/icons/play.svg" style="filter: invert(1);" value="0" max="100"
                                    step="0.01"></button>
                            <script>
                                function togglePlayPause() {
                                    var audioPlayer = document.getElementById('audioPlayer');
                                    var playPauseIcon = document.getElementById('playPauseIcon');
                                    if (audioPlayer.paused) {
                                        playPauseIcon.src = '/images/icons/pause.svg';
                                    } else {
                                        playPauseIcon.src = '/images/icons/play.svg';
                                    }
                                }
                            </script>
                            <button id="nextButton"><img src="/images/icons/skip-forward.svg"
                                    style="filter: invert(1);"></button>
                            <button id="pastButton"><img src="/images/icons/skip-backward.svg"
                                    style="filter: invert(1);"></button>
                            <button id="stopButton"><img src="/images/icons/stop.svg" style="filter: invert(1);"
                                    onclick="playPauseIcon.src = '/images/icons/play.svg';"></button>
                        </div>
                    </div>
                    <canvas id="audioVisualizer" class="audioPlayerVisualizer" height="100%"></canvas>
                    <script src="/js/player.js"></script>
        </div>
    </div>
    <%- include('footer') %>