<%- include('header') %>
    <div class="dashboard">
        <link rel="stylesheet" href="/css/player.css">
        <div class="dashboardHeader">
            <img src="/images/FullLogo.svg" alt="Logo" class="logo">
            <div class="dashboardHeaderRight">
                <h1>Track Player</h1>
            </div>
        </div>
        <div class="mainContainer">
            <div class="contentContainer">
                <div class="playlistContainer" id="playlistContainer">
                    <div class="row-container w-100 align-center">
                        <h2>Playlists</h2>
                        <button id="submitPlaylistButton" class="submitPlaylistButton">Create a Playlist</button>
                    </div>
                </div>
                <div class="trackContainer" id="trackContainer">
                    <div class="row-container w-100 align-center">
                        <h2>Tracks</h2>
                        <button id="submitTrackButton" class="submitTrackButton">Add a Track</button>
                    </div>
                    <script src="/js/submit.js" defer></script>
                    <script src="/js/trackList.js"></script>
                </div>
            </div>
        </div>
        <div class="audioPlayerContainer">
            <%- include('audioPlayer') %>
        </div>
    </div>
    </div>
    <%- include('footer') %>