<%- include('header') %>
    <div class="dashboard">
        <link rel="stylesheet" href="/css/player.css">
        <div class="dashboardHeader">
            <img src="/images/FullLogo.svg" alt="Logo" class="logo">
            <h1 class="title">Track Player</h1>
        </div>
        <div class="mainContainer">
            <div class="contentContainer"></div>
            <div class="audioPlayerContainer">
                <div class="column-container w-100">
                    <audio id="audioPlayer">
                        <source src="" type="audio/mpeg">
                        Your browser does not support audio.
                    </audio>
                    <div class="audioPlayerProgress">
                        <div class="progressBar">
                            <div id="progressBarFill" class="progressBarFill"></div>
                        </div>
                    </div>
                    <div class="audioPlayerControls">
                        <button id="playButton" onclick="togglePlayPause()"><img id="playPauseIcon" src="/images/icons/play.svg" style="filter: invert(1);"></button>
                        <script>
                            function togglePlayPause() {
                                var audioPlayer = document.getElementById('audioPlayer');
                                var playPauseIcon = document.getElementById('playPauseIcon');
                                if (audioPlayer.paused) {
                                    playPauseIcon.src = '/images/icons/pause.svg';
                                } else {
                                    playPauseIcon.src = '/images/icons/play.svg';
                                }
                            }
                        </script>
                        <button id="nextButton"><img src="/images/icons/skip-forward.svg" style="filter: invert(1);"></button>
                        <button id="pastButton"><img src="/images/icons/skip-backward.svg" style="filter: invert(1);"></button>
                        <button id="stopButton"><img src="/images/icons/stop.svg" style="filter: invert(1);"></button>
                    </div>
                </div>
                <canvas id="audioVisualizer" class="audioPlayerVisualizer" height="100%"></canvas>
                <script src="/js/player.js"></script>
            </div>
        </div>
    </div>
    <%- include('footer') %>