:root {
    --green: #3EB081;
    --red: #E41E21;
    --orange: #F09C1C;
    --blue: #0C85EC;
    --white: #FAF9F6;
    --light-grey: #F5F5F5;
    --black: #1E1E1E;
}

@font-face {
    font-family: 'Climate Crisis';
    src: url("/fonts/ClimateCrisis.ttf") format('truetype');
}

* {
    box-sizing: border-box;
}

html, body {
    background-color: var(--white);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Climate Crisis', sans-serif;
    font-weight: 400;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--black);
    border-radius: 5px;
    font-size: 16px;
    background-color: var(--white);
}

button {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--black);
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.1s;
    background-color: var(--white);
}

button:hover {
    background-color: var(--light-grey);
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.header .stripes {
    background: url(/images/Stripes.svg);
    height: 5vh;
    width: 100%;
    background-repeat: repeat-x;  
    background-size: auto 100%;
    margin-bottom: 5px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1000;
    padding-left: 10px;
}
.header .stripes * {
    margin: 0;
    padding: 0;
    font-size: 2.5vh;
}

.header .message {
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
    width: 100%;
    text-align: center;
}

.login {
    padding: 20px;
    border: 1px solid var(--black);
    border-radius: 5px;
    background-color: var(--light-grey);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-inline: auto;
    margin-top: auto;
    max-width: 50vw;
}

.login .logo {
    width: 20%;
    margin: 0 auto;
    background: url(/images/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.login .normalSized input {
    width:fit-content;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: var(--white);
    background-color: var(--black);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
}
.footer * {
    color: var(--white);
}

.red {
    background-color: var(--red);
}

.green {
    background-color: var(--green);
}

.orange {
    background-color: var(--orange);
}

.blue {
    background-color: var(--blue);
}

.white {
    background-color: var(--white);
}

.light-grey {
    background-color: var(--light-grey);
}

.black {
    background-color: var(--black);
}

.column-container {
    display: flex;
    flex-direction: column;
}

.row-container {
    display: flex;
    flex-direction: row;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.w-33 {
    width: 33%;
}

.w-25 {
    width: 25%;
}

.h-100 {
    height: 100%;
}

.h-50 {
    height: 50%;
}

.h-33 {
    height: 33%;
}

.h-25 {
    height: 25%;
}

.center {
    justify-content: center;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.align-center {
    align-items: center;
}

input:required {
    border-color: var(--red);
}

@media screen and (max-width: 768px) {
    .login {
        max-width: 90vw;
        height: 100%;
        margin: auto;
    }   
}