:root {
    --green: #3EB081;
    --red: #E41E21;
    --orange: #F09C1C;
    --blue: #0C85EC;
    --white: #FAF9F6;
    --black: #1E1E1E;
}

body {
    background-color: var(--white);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--black);
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--black);
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.stripes {
    background: url(/images/Stripes.svg);
    height: 5vh;
    width: 100vw;
    background-repeat: repeat-x;  
    background-size: auto 100%;
    position: fixed;
    top: 10px;
    left: 0;
    z-index: 1000;
}
