:root {
    --green: #3EB081;
    --red: #E41E21;
    --orange: #F09C1C;
    --blue: #0C85EC;
    --white: #FAF9F6;
    --light-grey: #F5F5F5;
    --black: #1E1E1E;
}

.dashboard {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
}

.dashboard .dashboardHeader {
    width: 100%;
    height: 17%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--white);
    color: var(--black);
    position: relative;
}

.dashboard .logo {
    height: 100%;
    aspect-ratio: 1/1;
    margin: 0;
    padding: 0;
}

.dashboardHeader .title {
    font-size: 24px;
    font-weight: bold;
}

.audioPlayerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--black);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.audioPlayer {
    margin-bottom: 20px;
}

.audioPlayerVisualizer {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
}

.audioPlayerProgress {
    width: 100%;
    margin-bottom: 20px;
}

.progressBar {
    width: 100%;
    height: 10px;
    background-color: var(--light-grey);
    border-radius: 5px;
    overflow: hidden;
}

.progressBarFill {
    width: 0;
    height: 100%;
    background-color: var(--green);
    transition: width 0.2s;
}

.audioPlayerControls {
    display: flex;
    gap: 10px;
}

.audioPlayerControls button {
    padding: 10px 20px;
    border: 1px solid var(--light-grey);
    background-color: transparent;
    color: var(--white);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.audioPlayerControls button:hover {
    background-color: #45a049;
}
