:root {
    --green: #3EB081;
    --red: #E41E21;
    --orange: #F09C1C;
    --blue: #0C85EC;
    --white: #FAF9F6;
    --light-grey: #F5F5F5;
    --black: #000000;
}

.dashboard {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
}

.dashboardHeader {
    width: 100%;
    height: 17%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--white);
    color: var(--black);
    position: relative;
}

.dashboard .dashboardHeader .logo {
    height: 100%;
    aspect-ratio: 1/1;
    margin: 0;
    padding: 0;
}

.dashboard .mainContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 83%;
}

.dashboard .mainContainer .audioPlayerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 100px;
    background-color: var(--black);
    color: var(--white);
    padding: 20px;
}

.audioPlayerContainer h1,
.audioPlayerContainer h2,
.audioPlayerContainer h3,
.audioPlayerContainer h4,
.audioPlayerContainer h5,
.audioPlayerContainer h6,
.audioPlayerContainer p,
.audioPlayerContainer strong {
    margin: 0;
    padding: 0;
}

.audioPlayerContainer .column-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
}

.dashboard .mainContainer .contentContainer {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.audioPlayerVisualizer {
    width: 20%;
    height: 100%;
    background-color: var(--black);
    margin-left: auto;
}

.audioPlayerProgress {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progressBar {
    width: 80%;
    height: 10px;
    background-color: var(--light-grey);
    position: relative;
}

.progressBarFill {
    height: 100%;
    background-color: var(--green);
    position: absolute;
    top: 0;
    left: 0;
}

.audioPlayerControls {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.audioPlayerControls button {
    margin: 10px;
    background-color: transparent;
    color: var(--white);
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

.audioPlayerControls button:hover {
    background-color: var(--green);
}
.title-progress-container {
    width: 100%;
    position: relative;
}

.title-progress {
    background-color: var(--light-grey);
    color: var(--white);
    width: min-content;
    margin: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: width 0.5s ease;
    background: var(--white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    position: relative;
}

.title-progress-slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    cursor: pointer;
    height: 100%;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    color: transparent;
}

.title-progress-slider::-webkit-slider-thumb, .title-progress-slider::-moz-range-thumb {
    background-color: transparent;
    color: transparent;
    appearance: none;
}

.audioPlayerData {
    width: 100%;
    border-bottom: 5px dashed var(--white);
    padding-bottom: auto;
}
.audioPlayerData p {
    margin-bottom: 5px;
}