:root {
    --green: #3EB081;
    --red: #E41E21;
    --orange: #F09C1C;
    --blue: #0C85EC;
    --white: #FAF9F6;
    --light-grey: #F5F5F5;
    --dark-grey: #808080;
    --black: #1E1E1E;
}

.contentContainer {
    background-color: var(--light-grey);
    color: var(--black);
    padding: 20px;
    border-radius: 10px;
}

.playlistContainer,
.tracksContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--light-grey);
    color: var(--black);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.playlistContainer h3 {
    color: var(--black);
}

.trackItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: var(--black);
    color: var(--white);
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.trackInfo {
    display: flex;
    align-items: center;
}

.trackTitleArtist {
    margin-right: 10px;
    padding: 10px;
}

.trackTitleArtist h3 {
    margin: 0;
    display: inline;
    color: var(--white);
}

.trackTitleArtist strong {
    font-weight: 600;
    color: var(--dark-grey);
}

.trackMetadata {
    display: flex;
    align-items: center;
    color: var(--dark-grey);
}

.trackAlbum {
    margin-right: 10px;
}

.trackLength {
    margin-right: 10px;
}