:root {
    --green: #3EB081;
    --red: #E41E21;
    --orange: #F09C1C;
    --blue: #0C85EC;
    --white: #FAF9F6;
    --light-grey: #F5F5F5;
    --black: #000000;
}

.dashboard {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.dashboardHeader {
    width: 100%;
    height: 17%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--white);
    color: var(--black);
    position: relative;
}

.dashboardHeaderRight {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: max-content;
}

.dashboardHeaderRight h1 {
    margin-inline: auto;
    padding: 0;
}

.dashboardHeaderRight button {
    padding: 5px;
    cursor: pointer;
    margin-inline-start: 10px;
    background-color: var(--black);
    color: var(--white);
}

.dashboardHeaderRight button:hover {
    background-color: var(--white);
    color: var(--black);
}

.dashboard .dashboardHeader .logo {
    height: 100%;
    aspect-ratio: 1/1;
    margin: 0;
    padding: 0;
}

.dashboard .mainContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 4;
    overflow: auto;
    box-sizing: border-box;
    max-height: 100%;
}

.dashboard .mainContainer .trackContainer {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
}

.dashboard .mainContainer .audioPlayerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 100px;
    background-color: var(--black);
    color: var(--white);
    padding: 20px;
    z-index: 10;
    height: 20%;
    overflow: hidden;
}

.audioPlayerContainer h1,
.audioPlayerContainer h2,
.audioPlayerContainer h3,
.audioPlayerContainer h4,
.audioPlayerContainer h5,
.audioPlayerContainer h6,
.audioPlayerContainer p,
.audioPlayerContainer strong {
    margin: 0;
    padding: 0;
}

.contentContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    padding: 20px;
}

.playlistContainer {
    height: 100%;
    width: 30%;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-grow: 1;
}

.playlistContainer h1 {
    margin: 0;
    padding: 0;
}

.audioPlayerContainer .column-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
}

.audioPlayerVisualizer {
    width: 20%;
    height: 100%;
    background-color: var(--black);
    margin-left: auto;
    margin-left: 20px;
}

.audioPlayerProgress {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progressBar {
    width: 80%;
    height: 10px;
    background-color: var(--light-grey);
    position: relative;
}

.progressBarFill {
    height: 100%;
    background-color: var(--green);
    position: absolute;
    top: 0;
    left: 0;
}

.audioPlayerControls {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
}

.audioPlayerControls button {
    margin: auto;
    background-color: transparent;
    color: var(--white);
    border-radius: 5px;
    cursor: pointer;
}

.audioPlayerControls button:hover {
    background-color: var(--green);
}
.title-progress-container {
    width: 100%;
    position: relative;
}

.title-progress {
    background-color: var(--light-grey);
    color: var(--white);
    width: min-content;
    margin: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: width 0.5s ease;
    background: var(--white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    position: relative;
}

.title-progress-slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    cursor: pointer;
    height: 100%;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    color: transparent;
}

.title-progress-slider::-webkit-slider-thumb {
    background-color: transparent;
    color: transparent;
    appearance: none;
    width: 15px;
    height: 15px;
    cursor: pointer;
    border: none;
}

.title-progress-slider::-moz-range-thumb {
    background-color: transparent;
    color: transparent;
    appearance: none;
    width: 15px;
    height: 15px;
    cursor: pointer;
    border: none;
}

.audioPlayerData {
    width: 100%;
    border-bottom: 5px dashed var(--white);
    padding-bottom: auto;
}
.audioPlayerData p {
    margin-bottom: 5px;
}

.trackContainer {
    height: calc(100% - 20%); /* Subtract the height of the AudioPlayerContainer */
    padding: 20px;
    width: 100%;
}
.trackContainer * {
    margin: 0;
    padding: 0;
}
.track {
    background-color: var(--black);
    color: var(--white);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    transition: 0.2s;
}

.track-image {
    height: 8rem;
    width: 8rem;
    background-color: var(--light-grey);
    content: "No Cover";
    color: var(--black);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.track-title {
    margin-right: 10px;
}

.track-info {
    width: 100%;
}

.track-artist {
    margin-right: 10px;
    width: 100%;
}

.track-date {
    margin-right: 10px;
}

.track-link {
    color: var(--white);
    text-decoration: none;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
    transition: 0.2s;
}
.track-link * {
    margin: 1vh;
}

.track:hover {
    transform: scale(1.01);
}

.playlistItem {
    text-decoration: none;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background-color: var(--black);
    border: 1px solid var(--light-grey);
    border-radius: 8px;
    transition: transform 0.2s, box-shadow 0.2s;
    max-width: fit-content;
}

.playlist-link {
    text-decoration: none;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    background-color: var(--black);
    transition: transform 0.2s, box-shadow 0.2s;
}

.playlistItem:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.playlist-image {
    width: 50%;
    height: auto;
    border-radius: 8px;
}

.playlist-info {
    text-align: center;
    margin-top: 10px;
}

.playlist-title {
    font-size: 1.5em;
    margin: 0;
}

.playlist-description {
    font-size: 1em;
    color: #666;
}

@media screen and (max-width: 768px) {
    .dashboardHeader {
        height: 10%;
    }

    .dashboardHeaderRight {
        display: none;
    }
    .contentContainer {
        flex-grow: 1;
        flex-direction: column;
    }

    .dashboard .mainContainer .audioPlayerContainer {
        flex-direction: column;
        height: 20%;
        justify-content: center;
        align-items: center;
    }
    .playlistContainer {
        width: 100%;
    }
    .playlistItem {
        flex-direction: column;
        align-items: center;
        max-height: 10vh;
    }

    .audioPlayerVisualizer {
        display: none;
    }

    .trackContainer {
        height: calc(100% - 30%);
    }
}